@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    flex-direction: column;

}
.header{
    height: 14vh;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;

    background-color: #1756CC;
    display: flex;
    justify-content: center;
}

.titulo img{
    height: 100%;
    width: 100%;
}

/*:::::Main*/

.main{
    height: 60vh;
    width: 100%; 
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    background-image : url(../ASSETS/pexels-anna-shvets-5262957.jpg);
    background-repeat: no-repeat;
    background-color: #1756CC;
    background-size: cover;
    display: flex;
    justify-content: center;
    
}

nav {
    width: 200px;
    height: 100%;
    
    border-radius: 50px;
    
   
    text-transform: capitalize;
    color: rgba(228, 214, 214, 0.986) ;
    font-size: 20px;

    display: flex;
    justify-content: space-around;
    
    
    
}

.nav-enlace{ 
    background-color: #1756CC;
    color: rgba(228, 214, 214, 0.986);
    font-size: 30px;
    text-decoration: none;
    display: inline-flex;
    padding: 20px;
    align-items:  center;
    text-align: center;
    margin: auto;
    margin-right: 10px;
    margin-left: 10px;
    height: 10vh;
    border-radius: 30px;
}
.nav-enlace:hover{
    
    transform: scale(1.1);
    transition: 0.2s;
}

.wasap{
    
    
    position: fixed;
    bottom: 10px;
    right: 5px;    
}
.wasap:hover{
    opacity: 0.9;
}

/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;

    background-color: #1756CC;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
    text-align: center;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}

.red-social{
    display: flex;
    justify-content: center;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-flex;
    justify-content: center;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #1756CC;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: #75757a;
}
.pie-pagina .grupo-2{
    background-color: #1756CC;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}

@media screen and (max-width:560px){
    .nav-enlace{
        font-size: 5vw;
    }
}